@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/ 
.todo {
  font-family: Roboto;
}
.todo__inner {
  background-color: #10002b;
  height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  padding-top: 25em;
}
.todo__container {
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1em;
  background-color: #001d3d;
  padding: 1em;
  border-radius: 0.75em;
}
.todo__title {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}
.todo__container-functional {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  outline: 1px solid #fff;
}
.todo__container-tasks {
  width: 100%;
}

.functional__label {
  font-size: 1.25em;
  position: absolute;
  padding: 0 0.4em;
  transform: translateX(6.2%);
  background-color: #001d3d;
  z-index: 1;
  transition: all 0.3s;
}
.functional__input {
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  width: 100%;
  padding: 1em;
  z-index: 2;
}
.functional__input:focus ~ .functional__label {
  transform: scale(0.8) translateY(-150%);
  transition: all 0.3s;
}
.functional__btn {
  padding: 0.75em;
  color: #fff;
  background-color: #124559;
  text-transform: capitalize;
  font-weight: 600;
  height: 100%;
  font-size: 1.25em;
}

.tasks__list {
  display: grid;
  gap: 0.75em;
  position: relative;
}
.tasks__list::before {
  content: "";
  background-color: green;
  width: 100%;
  height: 100%;
}
.tasks__list::after {
  content: "";
  background-color: red;
  width: 100%;
  height: 100%;
}
.tasks__list-item {
  padding: 1em;
  border-radius: 0.75em;
  display: flex;
  background-color: #598392;
}
.tasks__list-text {
  font-size: 1.25em;
}